
      <div class="card-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && changePassword()">
              <div class="form-group">
                  <label class="col-md-12">Current Password</label>
                  <div class="col-md-4">
                    <input class="form-control form-control-md" type="password" placeholder="Current Password" name="currentPassword"
                    #currentPassword="ngModel" [(ngModel)]="user.currentPassword" [ngClass]="{ 'is-invalid': f.submitted && currentPassword.invalid }"
                    required>
                    <div *ngIf="f.submitted && currentPassword.invalid" class="invalid-feedback">
                      <div *ngIf="currentPassword.errors.required">*Please Enter Current Password</div>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-12">New Password</label>
                  <div class="col-md-4">
                    <input class="form-control form-control-md" type="password" placeholder="New Password" name="newPassword"
                    #newPassword="ngModel" [(ngModel)]="user.newPassword" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }"
                    required>
                    <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                      <div *ngIf="newPassword.errors.required">*Please Enter New Password</div>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-12">Confirm New Password</label>
                  <div class="col-md-4">
                    <input class="form-control form-control-md" type="password" placeholder="Confirm New Password" name="confirmPwd"
                    #confirmPwd="ngModel" [(ngModel)]="user.confirmPwd" [ngClass]="{ 'is-invalid': f.submitted && confirmPwd.invalid, 'is-invalid': f.submitted &&  !(confirmPwd.value == newPassword.value)}"
                    required>
                    <div *ngIf="f.submitted && confirmPwd.invalid" class="invalid-feedback">
                      <div *ngIf="confirmPwd.errors.required">*Confirm Password is required</div>
                    </div>
                    <div *ngIf="f.submitted &&  !(confirmPwd.value == newPassword.value)" class="invalid-feedback">
                      <div>*Password Mismatch</div>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-12">
                      <button class="btn btn-success">Change Password</button>
                  </div>
              </div>
          </form>
      </div>
  
